// bower:scss
@import '../bower_components/foundation/scss/normalize.scss';
@import '../bower_components/foundation/scss/foundation.scss';
// endbower

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

#application {
  height: 100vh;
}

#leftMenu {
  float: left;
  background-color: #e6e6e6;
  height: 100vh;
}

#content {
  float: left;
  height: 100vh;
}

.active {
  font-weight: bold;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
